.landingPage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.banner {
  position: relative;
  height: 500px;
  overflow: hidden;
  margin-bottom: 2rem;
  margin-top: 3cm;
}

.bannerItem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.bannerItem.active {
  opacity: 1;
}

.bannerButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.bannerButton:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.bannerButtonLeft {
  left: 10px;
}

.bannerButtonRight {
  right: 10px;
}

.saleItems,
.topSelling,
.bundles,
.allItems,
.features,
.about {
  margin-bottom: 3rem;
}

.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2rem;
  color: #009688;
  margin-bottom: 1.5rem;
  text-align: left;
  transition: text-decoration 0.3s ease;
}

.sectionIcon {
  margin-left: 0.5rem;
  color: #009688;
  flex-shrink: 0;
  width: 35px;
  height: 35px;
}

.saleItems:hover .sectionTitle,
.topSelling:hover .sectionTitle,
.bundles:hover .sectionTitle,
.allItems:hover .sectionTitle,
.features:hover .sectionTitle,
.about:hover .sectionTitle {
  text-decoration: underline;
  text-decoration-color: #009688;
}

.itemGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

.item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
}

.item:hover {
  transform: translateY(-5px);
}

.item h3 {
  font-size: 1.2rem;
  margin: 1rem 0;
  color: #333;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #009688;
  margin-bottom: 1rem;
}

.oldPrice {
  text-decoration: line-through;
  color: #999;
  margin-right: 0.5rem;
}

.button {
  display: inline-block;
  background-color: #009688;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration:
none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #00796b;
}

.seeMoreContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.seeMoreButton {
  display: inline-block;
  background-color: transparent;
  color: #009688;
  padding: 0.5rem 1rem;
  border: 2px solid #009688;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: bold;
}

.seeMoreButton:hover {
  background-color: #009688;
  color: #fff;
}

.featureGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature {
  flex-basis: calc(33.333% - 1rem);
  text-align: center;
  margin-bottom: 2rem;
}

.feature h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #333;
}

.feature p {
  color: #666;
}

.about {
  text-align: center;
}

.about p {
  margin-bottom: 2rem;
  color: #666;
}
.floatingIcons {
  position: fixed;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.messageIcon {
  position: absolute;
  left: 20px;
  cursor: pointer;
}

.scrollTopButton {
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .itemGrid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .feature {
    flex-basis: 100%;
  }
}

@media (max-width: 480px) {
  .sectionTitle {
    font-size: 1.5rem;
  }

  .item h3 {
    font-size: 1rem;
  }

  .price {
    font-size: 1rem;
  }
}

